@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9eafe2;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: #4c62aa 5px 5px, #5c75c9 10px 10px, #667dc9 15px 15px,
    #6b84d3 20px 20px, #7992e4 25px 25px;
  width: 500px;
  padding: 40px;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container form label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
}

.container form input[type="text"]:focus,
.container form input[type="email"]:focus,
.container form input[type="password"]:focus {
  border-color: #8098e7;
}

.container form .btn {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  width: 100%;
}

.container form .btn input[type="submit"] {
  flex: 1;
  background-color: green;
  border-radius: 10px;
  border: solid 1px green;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  transition: background-color 0.3s;
}

.container form .btn input[type="submit"]:hover {
  background-color: #006400;
}

.container form .btn a {
  flex: 1;
  background-color: #8098e7;
  border: solid 1px #8098e7;
  color: #fff;
  font-size: 17px;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form .btn a:hover {
  background-color: #6b84d3;
}
