@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.container .sidebar {
  background-color: #9eafe2;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
}

.container .sidebar button {
  padding: 10px 40px;
}

.container section {
  width: 90%;
}

.container .container-section .managerEvents {
  background-color: #9eafe2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 50%;
  margin: auto;

  margin-top: 2%;
  border-radius: 10px;
}

.container .container-section .managerEvents .title h1 {
  font-size: 1.4rem;
  font-weight: 400;
}

.btn {
  --bg: #000;
  --hover-bg: #90ff96;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  font-size: 13px;
}

.btn:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.btn:active {
  transform: translate(0);
  box-shadow: none;
}

.container .container-section .card {
  background-color: #fff;
  border: solid 1px #9eafe2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  width: 60%;
  margin: auto;
  gap: 30px;
  margin-top: 1%;
  border-radius: 10px;
  cursor: pointer;
}

.container .container-section .card h1 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
}

.container .container-section .card .icons {
  display: flex;
  gap: 30px;
}

.container .container-section .card .icons .icon {
  height: 30px;
  width: 30px;
  background-color: transparent;
}

.container .container-section .card .icons .icon img{
    width: 100%;
    height: auto;
}